:root {
   --white: #fff;
   --black: rgb(0, 0, 0);
}

body {
   margin: 0;
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
   font-size: 14px;
   color: #6c7279;
   background-color: var(--white);
   -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.title {
   overflow: hidden;
   text-align: center;
   font-size: 30px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.title span {
   display: inline-block;
   vertical-align: middle;
}
.title:before,
.title:after {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 100%;
   height: 2px;
   background-color: #31354f;
   position: relative;
}
.title:before {
   margin-left: -100%;
   left: -14px;
}
.title:after {
   margin-right: -100%;
   right: -14px;
}

.header {
   width: 100%;
   height: 100px;
   background-color: var(--black);
}

.header__inner {
   display: flex;
   justify-content: space-between;
   padding: 35px 0;
   align-items: center;
}

.header__inner-logo {
   width: 30px;
   color: var(--white);
   opacity: 0.8;
}

.header__inner-nav {
   font-weight: 700;
   text-transform: uppercase;
   display: flex;
}

.header__inner-nav.active {
   position: absolute;
   top: 100px;
   right: 0;
   background-color: #2b2b2b;
   width: 100%;
   font-weight: 700;
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
   text-align: end;
}

.header__inner-nav-link {
   margin-left: 50px;
   color: var(--white);
   text-decoration: none;
   opacity: 0.75;
   transition: opacity .1s linear;
}

.header__inner-nav-link:first-child {
   margin-left: 0px;
}

.header__inner-nav-link:hover {
   opacity: 1;
}

.header__inner-burger {
   display: none;
   background: none;
   border: 0;
   cursor: pointer;
   padding: 15px 10px;
}

.header__inner-burger-line {
   display: block;
   width: 40px;
   height: 3px;
   background-color: var(--white);
   font-size: 0;
   color: transparent;
   position: relative;
}

.header__inner-burger-line:before,
.header__inner-burger-line:after {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   right: 0;
   z-index: 1;
   background-color: var(--white);
}

.header__inner-burger-line.active {
   transform: rotate(-45deg);
}

.header__inner-burger-line:before {
   width: 40px;
   top: -8px;
}

.header__inner-burger-line:after {
   width: 40px;
   bottom: -8px;
}

.header__inner-burger-line.active:after {
   transform: rotate(-90deg);
   bottom: 0;
}

.header__inner-burger-line.active:before {
   top: 0;
}

.intro__inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
}

.intro__inner-img {
   width: 200px;
   margin: auto;
   border-radius: 80px;
}

.intro__inner-text-title {
   font-size: 25px;
   margin-top: 50px;
   color: var(--black);
   opacity: 0.8;
}

.intro__inner-text-subtitle {
   margin: 10px 0;
   color: var(--black);
   opacity: 0.5;
}

.intro__inner-text {
   max-width: 900px;
   width: 100%;
   padding: 0 20px;
   text-align: center;
   color: var(--black);
   opacity: 0.8;
   margin: 0 auto;
}

.intro__inner-text-slogan {
   margin-top: 30px;
   opacity: 0.8;
   font-size: 20px;
}

.education__text {
   text-align: center;
   font-size: 20px;
   margin-top: 20px;
}

.education__svg {
   margin: 20px auto;
   width: 50px;
}

.interests__inner-items {
   text-align: center;
}

.interests__inner-items-icons {
   width: 100px;
   cursor: pointer;
   animation-name: updown;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate-reverse;
}

@keyframes updown{
   from { 
      transform: translateY(10px); 
   }
   to { 
      transform: translateY(-10px); 
   }
}

.midjourney__inner {
   text-align: center;
}

.footer {
   padding: 50px 0 50px 0;
   background: var(--black);
}

.footer__inner {
   display: flex;
   justify-content: space-between;
}

.footer__inner-datamola {
   display: flex;
}

.footer__inner-datamola-img {
   width: 70px;
   border-radius: 100px;
}

.footer__inner-datamola-text {
   color: var(--white);
   font-size: 20px;
   padding: 0 10px 0 10px;
   opacity: 0.8;
}

.footer__inner-contacts {
   display: flex;
}

.footer__inner-contacts-item {
   padding: 0 10px 0 10px;
}

.footer__inner-contacts-item-logo {
   width: 50px;
}

.midjourney__inner-slider {
   border: 2px solid var(--black);
   max-width: 80%;
   margin: 20px auto;
   overflow: hidden;
}

.midjourney__inner-slider-line {
   width: 1024px;
   display: flex;
   background: orange;
   position: relative;
   left: 0;
   transition: all ease 1s;
}

.midjourney__inner-button { 
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
}

.midjourney__inner-button-svg {
   width: 40px;
   cursor: pointer;
   margin: 0 auto;
}

.midjourney__inner-button-svg:hover {
   opacity: 0.8;
}

@media (max-width: 900px) {

   .header__inner-burger {
      display: block;
   }

   .header__inner-nav {
      display: none;
   }

   .header__inner-nav-link {
      padding: 10px 15px;
   }

   .slider__content {
      height: 260px;
   }

   .slide img {
      width: 500px;
      height: 100%;
   }

   .slider__container {
      width: 500px;
      height: 320px;
   }

   .slider__navigation-container {
      width: 300px;
   }

   @media (max-width: 640px) {

      .intro {
         padding: 5px 0 30px 0;
      }

      .intro__inner {
         flex-direction: column;
      }

      .intro__inner-img {
         margin: 0 auto;
      }

      .intro__inner-text-title {
         margin-top: 20px;
      }

      .motivation__inner {
         height: 400px;
      }

      .slider__content {
         height: 260px;
      }
   
      .slide img {
         width: 300px;
         height: 100%;
      }
   
      .slider__container {
         width: 300px;
         height: 500px;
      }
   
      .slider__navigation-container {
         width: 300px;
      }

      .footer {
         padding: 20px 0;
      }

      .footer__inner {
         flex-direction: column;
      }

      .footer__inner-contacts {
         justify-content: center;
      }

      .footer__inner-datamola {
         justify-content: center;
         margin-top: 10px;
         padding-right: 15px;
      }

      .footer__inner-datamola-text {
         font-size: 14px;
         padding: 10px;
      }
   }

}


