body {
   margin: 0;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 14px;
   color: #6c7279;
   background-color:#fff;
   -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.title {
   overflow: hidden;
   text-align: center;
   font-size: 30px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.title span {
   display: inline-block;
   vertical-align: middle;
}
.title:before,
.title:after {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 100%;
   height: 2px;
   background-color: #31354f;
   position: relative;
}
.title:before {
   margin-left: -100%;
   left: -14px;
}
.title:after {
   margin-right: -100%;
   right: -14px;
}

.header {
   width: 100%;
   height: 100px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
   background: none;
}

.header__inner {
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid #8d8d8d;
   padding: 35px 0;
   align-items: center;
}

.header__logo {
   color: rgb(247, 182, 62);
}

.header__logo span {
   color: rgb(163, 70, 155);
}

.nav {
   font-weight: 700;
   text-transform: uppercase;
   display: flex;
}

.nav_link {
   margin-left: 50px;
   color: rgb(255, 255, 255);
   text-decoration: none;
   opacity: 0.75;
   transition: opacity .1s linear;
}

.nav_link:first-child {
   margin-left: 0px;
}

.nav_link:hover {
   opacity: 1;
}

.intro {
   padding: 150px 0 50px 0;
   background-size: cover;
   background: #31354f url(../assets/img/intro-bg.jpg) center no-repeat;
}

.intro__inner {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.intro__img {
   width: 200px;
   border-radius: 100px;
}

.intro__title {
   font-size: 25px;
   margin-top: 50px;
   color: rgb(247, 182, 62);
}

.intro__subtitle {
   margin: 10px 0;
   color: rgb(163, 70, 155);
}

.intro__text {
   text-align: center;
   color: rgb(255, 255, 255);
}

.intro__slogan {
   margin-top: 30px;
   opacity: 0.8;
}

.education__text {
   text-align: center;
   font-size: 20px;
   margin-top: 20px;
}

.education__svg {
   margin: 20px auto;
   width: 50px;
}

.skills__items {
   text-align: center;
}

.skills__icons {
   width: 100px;
   cursor: pointer;
}

.skills__icons:hover {
   transform: translateY(-10px);
}

.slider__container {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 900px;
   height: 600px;
   margin: 0 auto;
   overflow: hidden;
}

.slider__content {
   display: flex;
   width: 400%;
   max-height: 550px;
   height: 100%;
}

.slide {
   transition: all .4s ease;
}

.slide img {
   width: 100%;
   height: 100%;
   border-radius: 10px;
}

input[name='slider'] {
   position: absolute;
   visibility: hidden;
}

.slider__navigation {
   display: flex;
   justify-content: space-between;
   max-width: 1000px;
   width: 100%;
   max-height: 50px;
   height: 100%;
}

.slider__navigation-container {
   display: flex;
   position: absolute;
   justify-content: center;
   max-width: 900px;
   width: 100%;
   height: 50px;
}

.slider__navigation-items {
   display: flex;
   position: absolute;
   z-index: 2;
}

.nav_item {
   display: flex;
   height: 10px;
   width: 10px;
   margin: 20px 10px;
   border-radius: 10px;
   cursor: pointer;
   background-color: rgb(116, 116, 116);
   transition: all .4s ease;
}

.label span {
   padding: 10px;
   cursor: pointer;
}

.nav_item:hover {
   opacity: 0.8;
   transform: scale(1.3);
   background-color: rgb(101, 248, 248);
}

.nav_item:active {
   transform: scale(1.5);
   background-color: rgb(0, 250, 250);
}

#slider_1:checked ~ #navigation .nav_item:nth-child(1),
#slider_2:checked ~ #navigation .nav_item:nth-child(2),
#slider_3:checked ~ #navigation .nav_item:nth-child(3),
#slider_4:checked ~ #navigation .nav_item:nth-child(4) {
	background-color: rgb(0, 250, 250);
}

#slider_1:checked ~ #content .s1 {
   margin-left: 0;
}

#slider_2:checked ~ #content .s1 {
   margin-left: -25%;
}

#slider_3:checked ~ #content .s1 {
   margin-left: -50%;
}

#slider_4:checked ~ #content .s1 {
   margin-left: -75%;
}

.footer {
   padding: 50px 0 50px 0;
   background-size: cover;
   background: #31354f url(../assets/img/intro-bg.jpg) center no-repeat;
}

.footer__inner {
   display: flex;
   justify-content: space-between;
}

.footer__datamola {
   display: flex;
}

.datamola {
   width: 70px;
   border-radius: 100px;
}

.datamola-text {
   color: rgb(255, 255, 255);
   font-size: 20px;
   padding: 0 10px 0 10px;
   opacity: 0.8;
}

.footer__contacts {
   display: flex;
}

.footer__item {
   padding: 0 10px 0 10px;
}

.footer__contacts-logo {
   width: 50px;
}



